body {
    margin: 0;
    padding: 0;
    font-family: 'IM Fell Double Pica', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.titulo1 {
    text-align: center;
}

.contenedor {
    display: flex;
    width: 100%;
}

.platos {
    text-align: center;
    width: 100%;
}

img {
    width: 40%;
    align-items: center center;
    justify-content: center;
}

.titulo-pizza {
    text-align: center;
}

.pizza {
    padding-left: 450px;
}

.titulo-ingredientes {
    text-align: center;
}

.hr {
    width: 90%;
}

.hr2 {
    width: 70%;
}